{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}voting/vote.js"></script>
{% endblock %}
{% load i18n %}
{% load idea_tags %}
{% load voting_tags %}
{% vote_by_user request.user on idea as vote %}
{% score_for_object idea as score %}
<a id="{{ idea.slug }}" href="{{ idea.get_absolute_url }}">{% blocktrans with idea|title as idea_title %}{{ idea_title }}{% endblocktrans %}</a><br />
{% if idea.ip_address %}
{% load iptocountry_filter %}{{ idea.ip_address|get_country2:"iptocountry/flags/"}}
{% endif %}
{% blocktrans with idea.content as idea_content %}{{ idea_content }}{% endblocktrans %}<br />
{% trans "Posted on" %} {{ idea.pub_date|date:"F j, Y" }} {% trans "by" %} {{ idea.user }}<br />
      <form class="ideavote" id="ideaup{{ idea.id }}" action="/ideas/{{ idea.id }}/{% if vote and vote.is_upvote %}clear{% else %}up{% endif %}vote/" method="POST">
        <input type="image" id="ideauparrow{{ idea.id }}" src="{{ MEDIA_URL }}img/aup{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.png">
      </form>

      <form class="ideavote" id="ideadown{{ idea.id }}" action="/ideas/{{ idea.id }}/{% if vote and vote.is_downvote %}clear{% else %}down{% endif %}vote/" method="POST">
        <input type="image" id="ideadownarrow{{ idea.id }}" src="{{ MEDIA_URL }}img/adown{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.png">
      </form>
<span class="score" id="ideascore{{ idea.id }}" title="after {{ score.num_votes|default:0 }} vote{{ score.num_votes|default:0|pluralize }}">
    {{ score.score|default:0 }} point{{ score.score|default:0|pluralize }}
</span>
<br />
{% for idea in idea.idea_set.all %}
{% show_idea idea %}
{% endfor %}
